


.submitDepreciationBtn{ background-color: #0E72D0; padding: 13px 30px; border:solid 1px #0E72D0; font-size: 18px; text-transform: uppercase; font-weight:400; color: #fff;
 border-radius:10px; display: inline-block; cursor: pointer;}
.submitDepreciationBtn:hover{ background-color: #fff; padding: 13px 30px; border:solid 1px #0E72D0;  font-size: 18px; text-transform: uppercase; font-weight: 400; color: #0E72D0;  border-radius:10px; display: inline-block; cursor: pointer;}
.submitDepreciationBtn:focus{ background-color: #fff; padding: 13px 30px; border:solid 1px #0E72D0; font-size: 18px; text-transform: uppercase; font-weight: 400; color: #0E72D0;  border-radius:10px; display: inline-block; cursor: pointer;}



.inputField{ position: relative;}
.inputField p{font-size: 12px !important;  bottom: -2px; }
.cal-table {width: 100%;  font-size: 14px; font-family: 'Poppins', sans-serif; border-collapse: collapse;}
.cal-table table{ border-collapse: collapse; overflow-x: auto;  overflow-y: hidden;}
.cal-table table th{ border-collapse: collapse; background-color: #1D7CD5; font-size:14px; color: #fff; }
.cal-table h3{margin-top: 20px;}


    
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

body { outline-width: 0; outline: none; margin: 0px; padding: 0px; max-width: 100%; font: 400 16px/28px "Poppins", sans-serif; background-color:#fff !important; }
body img { outline-width: 0; outline: none; margin: 0px !important; padding: 0px !important; max-width: 100%; }
body a:link { outline-width: 0; outline: none; text-decoration: none; }
h1, h1 a, h1 a:hover { font-size:30px !important; font-weight:500 !important; color:#0E72D0 !important; padding: 0px; margin: 0px; font-family: 'Poppins', sans-serif !important;}
h2, h2 a, h2 a:hover {font-size:26px; padding: 0px; margin: 0px; font-family: 'Poppins', sans-serif; }
h3, h3 a, h3 a:hover {font-size:24px; padding: 0px; margin: 0px; font-family: 'Poppins', sans-serif; }
h4, h4 a, h4 a:hover {font-size:22px; padding: 0px; margin: 0px; font-family: 'Poppins', sans-serif;}
h5, h5 a, h5 a:hover {font-size:18px; padding: 0px; margin: 0px; color:#0E72D0; font-family: 'Poppins', sans-serif;}
h6, h6 a, h6 a:hover {font-size:14px; padding: 0px; margin: 0px; font-family: 'Poppins', sans-serif;}
p{ font-weight: 400; font-size:14px; font: 400 14px/20px "Poppins", sans-serif; color:#605F5F; padding:0px; margin:0px; }
.result table {width: 100%; border-collapse: collapse; margin-top: 20px;}
.result th, td {border: 1px solid #ddd; padding: 8px; text-align: left;}
.result th {background-color: #0E72D0; color: white;}
tr:nth-child(even) {background-color: #f9f9f9;}
tr:hover {background-color: #f1f1f1;}
h1 {color: #333; text-align: center; margin-top: 30px;}
.header  {color: #f53333;text-align: center; margin-bottom: 30px;}
/* #initial-value-error {color: red; font-style: italic; margin-top: 5px;}
#salvage-value-error {color: red; font-style: italic; margin-top: 5px;}
#useful-life-error {color: red; font-style: italic; margin-top: 5px;}
#useful-life-error {color: red; font-style: italic; margin-top: 5px;} */


.loanbox{float: left; width: 260px;  margin-right: 20px;}
.clear{clear: both;}
h3{padding: 0px; margin: 0px;}
.loanbox p{margin-bottom: 0px;}
.loanbox input { margin-bottom:0px; }
.line hr{border-top: solid 1px #d6d6d6 !important;}
.required  {color: #f53333; margin-bottom: 0px;}
.errorMsg{position: absolute; left: 0; bottom: -9px; font-style: italic; margin-top: 5px; font-size: 12px !important; color: #f53333 !important;bottom: -2px;}


h1, h1 a, h1 a:hover { font-size:30px; font-weight:600; color:#0E72D0; padding: 0px; margin: 0px;  font-family: 'Poppins', sans-serif;}
.loanCalculatorbax{  border-radius: 21px; padding: 25px 14px; margin-bottom: 30px; font-family: 'Poppins', sans-serif;}
.loanCalculatorbax .loanHead{ font-size: 18px; color:#000; padding-bottom: 0px; font-weight: 600; padding-top: 10px;}
.loanCalculatorbax .loanfiledbox{width: 30%; margin: 0px 10px 10px 0px; display: inline-block; position: relative;}
.loanCalculatorbax .loanfiledbox p{font-size:14px; color:#424242; margin-bottom:5px; margin-top: 0px;}
.loanCalculatorbax .loanfiledbox p span{font-size:14px; color:red; }
.loanCalculatorbax .loanfiledbox input[type="text"]{border:0px; padding:15px 10px; width: 100%; font-size: 14px;  border:solid 1px #0E72D0; outline: 0px; border-radius: 10px; margin-bottom: 15px;}
.loanCalculatorbax .loanfiledbox select{border:0px; padding:15px 10px; width:121%; font-size: 14px;  border:solid 1px #0E72D0; outline: 0px; border-radius: 10px; background-color: #fff; margin-bottom: 15px;}
.loanCalculatorbax hr{border: solid 1px #d9d9d999;}
.calculator_btn{ background-color: #0E72D0; padding: 13px 30px; border:solid 1px #0E72D0; font-size: 18px; text-transform: uppercase; font-weight:400; color: #fff; border-radius:10px; display: inline-block; cursor: pointer;}
.calculator_btn:hover{ background-color: #fff; padding: 13px 30px; border:solid 1px #0E72D0;  font-size: 18px; text-transform: uppercase; font-weight: 400; color: #0E72D0;  border-radius:10px; display: inline-block; cursor: pointer;}
.calculator_btn:focus{ background-color: #fff; padding: 13px 30px; border:solid 1px #0E72D0; font-size: 18px; text-transform: uppercase; font-weight: 400; color: #0E72D0;  border-radius:10px; display: inline-block; cursor: pointer;}
.clear{clear: both;}
.loanCalculatorBase{ background-color: #fff; padding:0px 0px 0px;}
.loanCalculatorBase h1{text-align: center;  padding-bottom: 20px; line-height: 40px; font-size: 30px; font-weight:600; font-family: 'Poppins', sans-serif;  }
.loanCalculatorbax{ border:solid 1px #0E72D0; border-radius: 21px; padding: 25px 14px; margin-bottom: 21px !important;}
.depreciationCalculator{border:solid 1px #0E72D0; border-radius: 21px; padding: 25px 14px; margin-bottom: 21px !important;}
.loanCalculatorbax hr{border: solid 1px #d9d9d999;}
.bestLoanTerms h1{ padding: 0px; margin: 0px;  font-size: 30px; font-family: 'Poppins', sans-serif; font-weight: 600 !important;}
.bestLoanTerms p{color: #605F5F; padding-bottom: 25px;}
.freeLoanBoxHold{ margin: 0 auto;}
.freeLoanBox{   border-radius: 15px;  background: #FFF; box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.15); text-align: center; padding: 30px 10px; margin: 0px 10px 0px 14px; height: 390px;}
.freeLoanBox .freehead{font-size:18px; color:#0E72D0; font-weight: 500; line-height: 24px;}
.freehead h3{font-size:18px; color:#0E72D0; font-weight: 500; line-height: 24px; font-family: 'Poppins', sans-serif !important;}
.essentialTool{width: 600px; margin: 0px auto 0px;}
.essentialTool h3{ font-size:18px; color: #0E72D0; margin: 0px; padding: 0px; font-weight: 500; margin-bottom: 7px; font-family: 'Poppins', sans-serif !important;}
.essentialToolBox-prop{ padding: 30px 10px; border: solid 1px #0E72D0; text-align: center; border-radius: 13px;  min-height: 300px;}
.essentialToolBox-prop p{color: #605F5F; margin-top: 0px; margin-bottom: 0px; font-family: 'Poppins', sans-serif; font-size: 14px;}
.essentialToolfullBox{width:100%; padding: 30px 10px; border: solid 1px #0E72D0; text-align: left; border-radius:13px; margin-bottom: 25px; margin: 0 auto;}
.essentialToolfullBox h3{ font-size:18px; color: #0E72D0; margin: 0px; padding: 0px; font-weight: 600; margin-bottom: 7px;}
.essentialToolfullBox img{float: left;}
.faq{border: solid 1px #0E72D0; text-align: left; border-radius:13px; margin-bottom: 25px;font-family: 'Poppins', sans-serif;}
.faq h4{color: #0E72D0; font-size: 14px; font-style: normal; font-weight: 500; line-height: normal; font-family: 'Poppins', sans-serif !important; color:#0E72D0 !important;}
.faq h5{margin-bottom:10px; font-weight:600; font-family: 'Poppins', sans-serif !important; color:#0E72D0 !important; }
.faq p{color: #424242;font-size: 14px; font-style: normal; font-weight: 400; line-height: 22px; margin-bottom:10px; font-family: 'Poppins', sans-serif;}
.example_base{padding: 30px 10px; margin: 0px 10px 0px 14px; background-color: #0E72D0;border-radius:13px;}
.example_base h3 {font-size: 18px; color: #fff;margin: 0px;  margin-bottom: 0px;padding: 0px;font-weight: 600; margin-bottom: 7px; font-family: 'Poppins', sans-serif !important;}
.example_base p {color: #fff;}

.depreciationCalculator h3{font-size:18px; color:#0E72D0; font-weight: 500; line-height: 24px; margin-bottom: 20px;}
.depreciationCalculatorForm .oneLine{ width: 48%;  float: left; margin-right: 10px;  margin-bottom: 0px;}


.depreciationCalculatorForm .inputField input[type="text"] { border:0px; padding:15px 10px; width: 100%; font-size: 14px;  border:solid 1px #0E72D0; outline: 0px; border-radius: 10px; margin-bottom: 15px; box-shadow: none; font-weight: 400; font-family: 'Poppins', sans-serif; -moz-appearance: textfield; line-height:24px;}
.depreciationCalculatorForm .oneLine select{ border:0px; padding:15px 10px; width: 100%; font-size: 14px;  border:solid 1px #0E72D0; outline: 0px; border-radius: 10px; margin-bottom: 15px; box-shadow: none; background-color: #fff; font-family: 'Poppins', sans-serif; color: #848383; font-weight: 400; font-family: 'Poppins', sans-serif; }

.productiveCapacityInputHolder input[type="text"] { border:0px; padding:15px 10px; width: 100%; font-size: 14px;  border:solid 1px #0E72D0; outline: 0px; border-radius: 10px; margin-bottom: 15px; box-shadow: none; font-weight: 400; font-family: 'Poppins', sans-serif; -moz-appearance: textfield; line-height:24px; }

.depreciationCalculatorForm .oneLine label{ display: block; font-family: 'Poppins', sans-serif; font-size: 14px; min-height: 32px; line-height: 14px;}
.submitDepreciationBtnHolder{ text-align: center;}

.depreciationCalculatorForm .selectbase{ width: 100%; float: none; margin-right: 0px; margin-bottom: 10px;}
.depreciationCalculatorForm .selectbase label{ display: block; font-family: 'Poppins', sans-serif; font-size: 14px; min-height: 14px; line-height: 20px;}
.submitDepreciationBtnHolder{ text-align: center;}

.addMoreProductiveCapacity{background-color: #1D7CD5;  padding: 6px 17px; border: solid 1px #1D7CD5; font-size: 14px; font-weight: 400;color: #fff !important;border-radius: 5px; display: inline-block; margin-top: 5px;}

.removeProductiveCapacity{background-color: #595959;  padding: 6px 17px; border: solid 1px #595959; font-size: 14px; font-weight: 400;color: #fff !important;
    border-radius: 5px; display: inline-block; float: right; margin-bottom: 10px;}

.loanCalculatorbax {font-size: 18px; color: #424242 !important;}

.productionInputHolder{width: 85%; float: left;}
.productionInputHolder .oneLine{width: 47% !important;position: relative;}
.productionInputHolderRemove{width: 15%;  float: left; margin-top: 25px;}
.productionInputHolder .oneLine label{min-height: auto; margin-bottom: 5px;}
#productiveCapacityHolder{background-color: #f2f2f2; padding: 15px; border-radius: 10px; margin-bottom: 15px;}
.productionMethodHeading {font-weight: 500; font-size: 18px; color: #1D7CD5; font-family: 'Poppins', sans-serif;}


@media (min-width:480px) and (max-width: 639px) {
    .loanCalculatorbax .loanfiledbox { width: 100%; }
    .loanCalculatorbax .loanfiledbox input[type="text"] { width: 100%;}
    h1 {font-size: 22px;}
    .freehead h3 { font-size: 15px;}
    .freeLoanBox { margin-bottom: 15px;}
    .essentialTool h3{text-align: center;}
    .depreciationCalculatorForm .oneLine {width: 100%;float: none; margin-right: 0px; margin-bottom: 0px;}
    .essentialToolBox-prop {width: 384px; float: none;  display: inline-block;}

    .cal-table{ overflow-x: auto; overflow-y: hidden;}
    .productionInputHolder{width: 100%; float: none;}
    .productionInputHolder .oneLine{width: 100% !important; float: none;}
    .productionInputHolderRemove{width: 100%;  float: none; margin-top: 0px;}
    .productionInputHolderRemove .removeProductiveCapacity{ text-align: center; float: none;}
}

@media (min-width:360px) and (max-width: 479px) {
    .loanCalculatorbax .loanfiledbox { width: 100%; }
    .freehead h3 { font-size: 15px;}
     h1 {font-size: 22px;}
    .loanCalculatorbax .loanfiledbox input[type="text"] { width: 100%;}
    .freeLoanBox { margin-bottom: 15px;}
    .essentialTool h3{text-align: center;}
    .depreciationCalculatorForm .oneLine {width: 100%;float: none; margin-right: 0px; margin-bottom: 0px;}
    .essentialToolBox-prop {width: 290px; float: none;  display: inline-block;}
    .example_base { margin: 0px 0px 0px 0px;}

    .cal-table{ overflow-x: auto; overflow-y: hidden;}
    .productionInputHolder{width: 100%; float: none;}
    .productionInputHolder .oneLine{width: 100% !important; float: none;}
    .productionInputHolderRemove{width: 100%;  float: none; margin-top: 0px;}
    .productionInputHolderRemove .removeProductiveCapacity{ text-align: center; float: none;}
}








